body{
  margin: 0;
  padding: 0;
  background-color: #252e38;
  position: fixed;
}

.all{
  width: 1899px;
  height:996px;
  min-width: 1899px;
  margin: 0;
  padding: 0;
  margin: auto;
}
.nag{
  width:88px;
  border-right: 1px solid #41454a;
  height:996px;
  background-color: #252e38;
  float: left;
}
.nag a img{
  width: 88px;
}
.friends a img{
  margin-top: 430px;
  margin-left: 4px;
  width: 75px;
  height: 75px;
}
.mains{
  width: 1770px;
  height:996px;
  /* background-color: #131c25; */
  float: left;
}
.chat{
  width: 40px;
  height: 996px;
  background-color: #363e48;
  float: right;
}
.banner{
  width: 1770px;
  height: 40px;
  background-color: #131c25;
  margin-top: 0px;
}
.word_one{
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  font-weight: 700;
  font-family:sans-serif;
  color: #fff;
  margin-left: 10px;
}
.containers{
  width: 1770px;
  height:956px;
  background-color: #131c25;
}
.left{
  width: 875px;
  height:956px;
  background-color: #131c25;
  margin-left: 10px;
  float: left;
}
.discription{
  width: 871px;
  height: 693px;
  border: 1px solid #41454a;
  overflow-y: scroll;
  /* scrollbar-highlight-color:#515860;
  scrollbar-arrow-color:#515860;
  scrollbar-shadow-color:#515860; */
  margin-bottom: 10px;
  background-color: #252e38;
  word-break:break-all;
  color: white;
}


.video{
  width: 859px;
  height: 480px;
}
.top1{
  width:845px;
  height:470px;
}
.step1{
  width: 300px;
  position: relative;
  z-index: 9999;
}
.title{
  color: #1d9aab;
  font-weight: 900;
  font-size: 24px;
}
.title_detail{
  color: #4d535c;
  font-weight: 700px;
  font-size: 20px;
}
.top2{
   width:845px;
   height:450px;
}
.step2{
  width: 300px;
  position: relative;
  z-index: 9999;
}
.top3{
   width:115px;
   height:45px;
}
.step3{
  width: 300px;
  position: relative;
  z-index: 9999;
}
.top4{
   width:860px;
   height:642px;
}
.step4{
  width: 300px;
  position: relative;
  z-index: 9999;
}
.code{
  background-color: #f2f2f2;
  border: 1px #dadada;
  width: 700px;
  height:80px;
  color: #636971;
  font-size: 10px;
}
.top5{
   width:555px;
   height:58px;
}
.step5{
  width: 300px;
  position: relative;
  z-index: 9999;
}
.top6{
   width:272px;
   height:60px;
}
.step6{
  width: 300px;
  position: relative;
  z-index: 9999;
}


.goal{
  width: 859px;
  height: 150px;
}
.goal_title{
  width: 849px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: #343b45;
  padding-left: 10px;
}
.goal_content{
  width: 829px;
  height: 100px;
  color: #535960;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 20px;
}
.rules{
  width: 859px;
  height: 300px;
}
.rules_title{
  width: 849px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: #343b45;
  padding-left: 10px;
}
.rules_content{
  width: 829px;
  height: 250px;
  color: #535960;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 20px;
}
.console_output{
  width: 871px;
  height: 241px;
  border: 1px solid #41454a;
  background-color: #252e38;
}
.output{
  width: 861px;
  height: 32px;
  background-color: #252e38;
  line-height: 32px;
  padding-left: 10px;
  font-size: 14px;
  color: #838891;
  font-weight: 900;
}
.put{
  width: 871px;
  height: 209px;
  background-color: #252e38;
  overflow-y:auto;
  color: white;
}
.right{
  margin-right: 10px;
  background-color: #131c25;
  float: right;
  width: 865px;
  height:956px;
}
.write_code{
  width: 863px;
  height:693px;
  background-color: #252e38;
  border: 1px solid #41454a;
  po
}
.write_top{
  width:863px;
  height: 49px;
  background-color: #252e38;
  border-bottom: 1px solid #41454a;
}
.drop-down{
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #464d56;
  border: 0px;
  color: #1997a9;
  font-family: sans-serif;
  font-weight: 900;
}


/* 代码编辑器 */
#codeTextarea{
  width: 831px;
  height: 642px;
  background-color:#515860;
  overflow: auto;
  color: white;
  resize:none;
}
.textAreaWithLines{
  font-family: courier;
  border: 0px solid #ddd;
}
.textAreaWithLines textarea,.textAreaWithLines div{
  border: 0px;
  line-height: 120%;
  font-size: 12px;
}
.lineObj{
  color: #87888a;
}

.right_bottom{
  width:865px;
  height: 242px;
  background-color: #131c25;
  margin-top: 10px;
}
.test_cases{
  width: 574px;
  height: 241px;
  border: 1px solid #41454a;
  background-color: #252e38;
  float: left;
}
.top{
  width: 574px;
  height: 32px;
  background-color: #252e38;
}
.word_two{
  font-size: 14px;
  float: left;
  margin-left: 10px;
  margin-top: 6px;
  color: #838891;
  font-weight: 900;
}
.img_one{
  float: right;
  margin-right: 10px;
  margin-top: 4px;
}
.bottom{
  width: 574px;
  height: 207px;
  background-color: #252e38;
  overflow-y: scroll;
  word-break:break-all;
}
.test{
  width: 545px;
  height: 58px;
  background-color: #252e38;
  border-top: 1px solid #464d56;
  margin-left: 9px;
  float: left;
}
.test_0{
  width: 545px;
  height: 58px;
  background-color: #252e38;
  border-top: 1px solid #464d56;
  border-bottom: 1px solid #464d56;
  margin-left: 9px;
  float: left;
}
.img_0{
  line-height: 75px;
  margin-left: 10px;
  float: left;
}
.word_0{
  margin-top: 15px;
  margin-left: 100px;
  color: #1a95a6;
  font-size: 20px;
}
.btn_test{
  width: 150px;
  height: 32px;
  float: right;
  margin-right: 10px;
  margin-top: 13px;
  background-color: #464d56;
  border: 0px;
}
.btn_test span{
  font-size: 11px;
  color: #218c9b;
}
.actions{
  width: 277px;
  height: 241px;
  border: 1px solid #41454a;
  background-color: #252e38;
  float: right;
}
.actions_top{
  width: 267px;
  height: 32px;
  background-color: #252e38;
  line-height: 32px;
  padding-left: 10px;
  font-size: 14px;
  color: #838891;
  font-weight: 900;
}
.actions_bottom{
  width: 277px;
  height: 209px;
  background-color: #252e38s;
}
.btn_1{
  width: 257px;
  height: 50px;
  background-color: #464d56;
  text-align: center;
  line-height: 50px;
  border: 0px;
  margin: 10px;
  color: #1a99aa;
  font-size: 13px;
  font-weight: 600;
}
.btn_2{
  width: 257px;
  height: 50px;
  background-color: #464d56;
  text-align: center;
  line-height: 50px;
  border: 0px;
  margin: 10px;
  color: #ffd200;
  font-size: 13px;
  font-weight: 600;
}
/* .btn_1 span,.btn_2 span{
  font-size: 24px;
} */
