body{
  margin: 0;
  padding: 0;
  background-color: #252e38;
}
.all{
  width: 1899px;
  height:996px;
  min-width: 1899px;
  margin: 0;
  padding: 0;
  margin: auto;
}
.logo{
  width:100%;
  height: 60px;
  background-color: #252e38;
}
.icon img{
  margin-top: 27px;
  margin-left: 30px;
  float: left;
}
.nav{
  width: 420px;
  height: 60px;
  float: left;
  margin-top: 0px;
  padding-left: 15px;
}
.nav li{
  float: left;
  list-style-type: none;
  margin: 27px 15px;
}
.nav li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
.nav li a:hover{
  color: #454c55;
  font-size: 16px;
  font-weight: 600;
}
.message{
  float: right;
  margin-right: 30px;
  margin-top: 22px;
}
.touxiang{
  float: right;
  margin-top: 18px;
}
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.dropbtn {
    background-color: #252e38;
    height: 26px;
    color: white;
    padding: 16px;
    font-size: 23px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width:200px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #252e38;
}

.dropdown-content a:hover {
  background-color: #252e38;
  color: #454c55;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #454c55;
}
.main{
  background-color: #e7e9eb;
  width: 1899px;
  height: 920px;
  float: left;
}
.right{
  float: right;
  width: 40px;
  height: 920px;
  background-color: #363e48;
}
.left{
  float: left;
  width: 1859px;
  height: 920px;
  overflow-y:scroll;
  overflow-x: inherit;
}
.container{
  width: 1846px;
  height: 1500px;
  background-color: #e7e9eb;
}
.bottom{
  width: 1846px;
  height: 70px;
}
.bottom img{
  width: 1846px;
  height: 70px;
}
